.App {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin: 0px;
}

/* Form styling */


/* Welcome and Map Page styling */
.page-container {
  text-align: center;
  padding-top: 80px;
  font-family: 'Segoe UI', sans-serif;
}

.button-group {
  margin-top: 30px;
}

.button {
  margin: 10px;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.button.green {
  background-color: #28a745;
}

.map-box {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.coord-box {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}